In [ ]:
##Data Structure-- use to store any values
## Linear DS -- organized in structured manner one after another
## Non-Linear DS ---not organized in sequential manner

In [18]:
l=[1,2,1,3,4]
l2=list()
print(l,l2)

[1, 2, 1, 3, 4] []

In [10]:
##LIST accesssing
l[2]

3

In [14]:
#Methods 
print(len(l)) #return the length of list
l.append(10)  #add ele to the last of list
print(l)

4
[1, 2, 3, 4, 10]

In [15]:
l.remove(10)  #remove the first occurence of ele in list
print(l)

[1, 2, 3, 4]

In [20]:
count_of_10=l.count(1)  #return the number of occurence of ele in list
print(count_of_10)

2

In [22]:
#extend --> append a list to the end of list
l2=[3,3]
l.extend(l2)
print(l)

[1, 2, 1, 3, 4, 3, 3]

In [23]:
l2.clear()
print(l2)

[]

In [24]:
#index --> return the index of the first occurence of ele in list
print(l.index(1))

0

In [25]:
##example
l=[1,2,3]
l2=l
print(l2,l)

[1, 2, 3] [1, 2, 3]

In [26]:
l.append(10)
print(l,l2)

[1, 2, 3, 10] [1, 2, 3, 10]

In [27]:
l3=l.copy()
l.append(20)
print(l,l3)

[1, 2, 3, 10, 20] [1, 2, 3, 10]

In [28]:
#pop --> remove the last ele  of the list
print(l)

[1, 2, 3, 10, 20]

In [32]:
l=[1, 2, 3, 10, 20]

[1]

In [33]:
#sort --> sorts the list
l=[10,2,3]
l.sort()
print(l)

[2, 3, 10]

In [34]:
#reverse --> arranges in revers order
l=[10,2,3]
l.reverse()
l

[3, 2, 10]

In [35]:
#slicing [start: stop:stepsize] starts from 0 to n-1

[3, 2, 10]

In [39]:
## shorthand for revrsing
a=[1,2,3,4]
a[::-1]

[4, 3, 2, 1]

In [ ]:
l=[]
for i in range(0,6):
    l.append(i)
l

In [ ]:
pip install nbmerge

In [ ]:
nbmerge file_1.ipynb file_2.ipynb file_3.ipynb > Lists-DatStr.ipynb

In [1]:
l=[]
for i in range(0,6):
    l.append(i)
l

[0, 1, 2, 3, 4, 5]

In [2]:
## list comprehension
l=[i for i in range(1,6)]
l

[0, 1, 2, 3, 4, 5]

In [7]:
## print numbers in list which are even
inp=[i for i in range(21)]
print(inp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [6]:
even_l=[i for i in inp if i%2==0]
even_l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [5]:
even=[]
for i in inp:
    if i%2==0:
        even.append(i)
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
#conditionals if elif else
if condition:
    pass
elif condition:
    pass
else:
    pass #pass --> there is nothing here i n

In [10]:
## counter problems
Question: display the largest element in list

In [13]:
l=[20,2,3]
min(l),max(l)

(2, 20)

In [ ]:
question: find the number which is repeated most (element with max frequency)

In [19]:
l=[1,2,2,3,3,3,10,10,10,10] #ans : 3
## count()
max_freq=0
for i in l:
    freq=l.count(i)
    max_freq=max(freq,max_freq)
max_freq

4

In [20]:
##PASS
##for first pass: max(1,0)-->1
##for seconf pass: max(2,1)-->2
##for third pass: max(2,2)-->2
##for third pass: max(3,2)-->3
##for third pass: max(3,3)-->3
##for third pass: max(3,3)-->3

In [21]:
l=[1,2,2,3,3,3,10,10,10,10] #ans : 3
## count()
max_freq=0
for i in l:
    freq=l.count(i)
    max_freq=max(freq,max_freq)
max_freq

4

In [33]:
## Given a list of numbers, find the second largest element
"""
sorting
return the second last ele
"""
inp=[i for i in range(1,11)]
inp.sort()
print(inp)
inp[-2]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

9

In [47]:
## Remove duplicated element from list such that the list is unique
'mutable'
"""
l=[1,2,3,4,1] --> l=[1,2,3,4]
answer:--> count/frequency ? then analyzing whethter to keep it or rmeove it

"""
inp=[1,2,3,4,1]
res=[]
for i in inp:
    if i in res:
        continue
    else:
        res.append(i)
res

[1, 2, 3, 4]

In [43]:
### memebership operators
'in , not in --> return a boolean value(True, False)(any number other than 0,0)'

True

In [ ]:
### continue break
continue --> run another iteration/loop
break --->  stop the loop

In [53]:
## Reverse a list in-place.
'mutable'
"""
counter=length of list
starts decrementing that counter to 0
appending that values to result

"""
inp=[10,20,30]
res=[]
length=len(inp)
for i in range(length-1,-1,-1): ## 2 1 0
    res.append(inp[i])
res

[30, 20, 10]

In [58]:
inp=[10,20,30]
res=[]
counter=len(inp)-1 #2
while counter>=0:
    res.append(inp[counter])
    counter-=1 #counter=counter-1
res

[30, 20, 10]

In [59]:
### counter problems
s="malayalam"
## palindorme --> a single word
## anagram ---> freq count is same but the word is different
s==s[::-1]

True

In [ ]:
## tuple, dict, set stacks and queues